@page "/cotd"

@using Blazorise.LoadingIndicator
@using HarryPotter.Client.Core.Models
@using HarryPotter.Client.Core.Services

@inject HarryPotterService HarryPotterService

<h1><b>Character of the day</b></h1>

@if (IsLoading)
{
    <LoadingIndicator Visible="true"></LoadingIndicator>
}
else if (CharacterList.Count > 0)
{
    <Card Style="@($"background-color: {GetHouseColor(CharacterList[characterIndex].House)}")">
        <div class="card-size">
            <CardTitle Size="5" Class="card-title">
                @CharacterList[characterIndex].Name
            </CardTitle>
            <CardImage Source="@GetImageSource(CharacterList[characterIndex].Image)"></CardImage>
            <div class="card-body">
                <CardBody>
                    <CardText>
                        <ListGroup>
                            @if (!string.IsNullOrWhiteSpace(CharacterList[characterIndex].Gender))
                            {
                                <ListGroupItem><b>Gender:</b> @CharacterList[characterIndex].Gender</ListGroupItem>
                            }
                            @if (!string.IsNullOrWhiteSpace(CharacterList[characterIndex].House))
                            {
                                <ListGroupItem><b>House:</b> @CharacterList[characterIndex].House</ListGroupItem>
                            }
                            @if (!string.IsNullOrWhiteSpace(CharacterList[characterIndex].DateOfBirth))
                            {
                                <ListGroupItem><b>Date Of Birth:</b> @CharacterList[characterIndex].DateOfBirth</ListGroupItem>
                            }
                            @if (!string.IsNullOrWhiteSpace(CharacterList[characterIndex].Ancestry))
                            {
                                <ListGroupItem><b>Ancestry:</b> @CharacterList[characterIndex].Ancestry</ListGroupItem>
                            }
                            @if (!string.IsNullOrWhiteSpace(CharacterList[characterIndex].Patronus))
                            {
                                <ListGroupItem><b>Patronus:</b> @CharacterList[characterIndex].Patronus</ListGroupItem>
                            }
                            @if (HasWandDetails(CharacterList[characterIndex]))
                            {
                                <ListGroupItem>
                                    <b>Wand:</b>
                                    <Button Class="read-more-button" @onclick="@(() => ToggleWandDetails(CharacterList[characterIndex]))">
                                        @(CharacterList[characterIndex].ShowWandDetails ? "Hide details" : "Read more")
                                        <i class="arrow @(CharacterList[characterIndex].ShowWandDetails ? "up" : "down")"></i>
                                    </Button>
                                </ListGroupItem>
                            }
                            @if (CharacterList[characterIndex].ShowWandDetails)
                            {
                                @if (!string.IsNullOrWhiteSpace(CharacterList[characterIndex].Wand?.Wood))
                                {
                                    <ListGroupItem><b>Wood:</b> @CharacterList[characterIndex].Wand!.Wood</ListGroupItem>
                                }
                                @if (!string.IsNullOrWhiteSpace(CharacterList[characterIndex].Wand?.Core))
                                {
                                    <ListGroupItem><b>Core:</b> @CharacterList[characterIndex].Wand!.Core</ListGroupItem>
                                }
                                @if (CharacterList[characterIndex].Wand?.Length is not null)
                                {
                                    <ListGroupItem><b>Length:</b> @CharacterList[characterIndex].Wand.Length</ListGroupItem>
                                }
                            }
                        </ListGroup>
                    </CardText>
                </CardBody>
            </div>
        </div>
    </Card>
}
else
{
    <h3>No characters found.</h3>
}



@code {
    private const string DefaultImageUrl = "https://img.freepik.com/premium-vector/witch-s-broom-silhouette-isolated-white-background-traditional-halloween-decorative-element_502505-561.jpg";

    private string CharacterSearchText = string.Empty;

    private bool IsLoading;

    private int characterIndex; //set initially to prevent build errors 

    private List<Character> CharacterList { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        IsLoading = true;
        CharacterList = await HarryPotterService.GetCharactersAsync();
        IsLoading = false;
        int dateValue = int.Parse(DateTime.Today.ToString("yyyyMMdd"));
        characterIndex = dateValue % CharacterList.Count;
    }

    private IEnumerable<Character> FilteredCharacters
    {
        get
        {
            if (string.IsNullOrWhiteSpace(CharacterSearchText)) //if there is no data, ignore character
            {
                return CharacterList;
            }
            return CharacterList.Where(character =>
                character.Name?.Contains(CharacterSearchText, StringComparison.OrdinalIgnoreCase) ?? false);
        }
    }

    private Dictionary<string, string> HouseColors { get; set; } = new Dictionary<string, string>
    {
        {
            "Gryffindor", "#d49d9d"
        },
        {
            "Slytherin", "#a8d49b"
        },
        {
            "Ravenclaw", "#92a1d4"
        },
        {
            "Hufflepuff", "#edd69a"
        },
        {
            "", "#c7c7c7"
        }
    };

    private string GetImageSource(string? characterImage)
    {
        if (!string.IsNullOrWhiteSpace(characterImage))
        {
            return characterImage;
        }

        return DefaultImageUrl;
    }

    private string GetHouseColor(string? house)
    {
        string houseName = house ?? string.Empty;

        if (HouseColors.ContainsKey(houseName))
        {
            return HouseColors[houseName];
        }

        return HouseColors[string.Empty];
    }

    private static bool HasWandDetails(Character character)
    {
        bool hasWood = !string.IsNullOrWhiteSpace(character.Wand?.Wood);
        bool hasCore = !string.IsNullOrWhiteSpace(character.Wand?.Core);
        bool hasLength = character.Wand?.Length is not null;

        return hasWood || hasCore || hasLength;
    }

    private void ToggleWandDetails(Character character)
    {
        character.ShowWandDetails = !character.ShowWandDetails;
    }
}

<style scoped>
    .card-title {
        color: white;
        font-weight: bold;
    }
    .card-size {
        margin-left: auto;
        margin-right: auto;
        max-width: 200px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .card-grid {
        flex-flow: row wrap;
        margin-right: -.75rem;
        margin-left: -.75rem;
        display: flex;
    }
    
    .card-border {
        border: 5px solid #FFFFFF;
    }

    .card-body {
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-top: 10px !important;
    }

    .search-field {
        padding: 10px;
    }

    .read-more-button {
        padding: 0px !important;
        padding-right: 1px !important;
        background-color: transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;
        outline: none;
    }

    .arrow {
        border: solid black;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
    }

    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        margin-bottom: 2px;
        margin-left: 5px;
    }

    .up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        margin-bottom: -1px;
        margin-left: 5px;
    }
</style>